<div id="my_container" class="container">

  <nav id="home_navbar" class="navbar navbar-dark bg-primary">
    <form class="form-inline" id="login" action="/sessions" method="post">
      <div class="form-group">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="text" class="form-control has-danger" id="login_email" name=login[email] placeholder="email">
      </div>
      <div class="form-group has-danger">
        <input type="password" id="login_password" class="form-control" name=login[password] placeholder="Password"><br>
      </div>
        <button type="submit" class="btn btn-secondary-outline">Login</button>
    </form>

    <!-- Is notice "kind of" like an array? If so, process as usual. If not, put "notice into an array". Then for each index in the array put into x -->
    <% (notice.kind_of?(Array) ? notice : [notice]).each do |x| %>
      <p><%= x %></p>
    <% end %>
  </nav>
<div id="inner_container">
  <div class="jumbotron">
    <div id="greeting">
      <h1 class="display-3">You're invited!</h1>
      <p class="lead">Your favorite event invitation management app.</p>
      <hr class="m-y-2">
    </div>
    <div id="register">
      <h4>Register here!</h4>
      <form action="/users" method="post">
        <div class="form-group has-danger">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type="text" class="form-control" id="first_name" placeholder="First Name" name=user[first_name]>
        </div>
        <div class="form-group has-danger">
          <input type="text" class="form-control" id="last_name" placeholder="Last Name" name=user[last_name]>
        </div>
        <div class="form-group has-danger">
          <input type="text" class="form-control" id="email" placeholder="Email" name=user[email]>
        </div>
        <div class="form-group has-danger">
          <input type="text" class="form-control" id="city" placeholder="City" name=user[city]>
          <select class="form-control form-control-lg" id="state" name=user[state]>
            <option value="">State</option>
            <option value="AL">AL</option>
          	<option value="AK">AK</option>
          	<option value="AZ">AZ</option>
          	<option value="AR">AR</option>
          	<option value="CA">CA</option>
          	<option value="CO">CO</option>
          	<option value="CT">CT</option>
          	<option value="DE">DE</option>
          	<option value="DC">DC</option>
          	<option value="FL">FL</option>
          	<option value="GA">GA</option>
          	<option value="HI">HI</option>
          	<option value="ID">ID</option>
          	<option value="IL">IL</option>
          	<option value="IN">IN</option>
          	<option value="IA">IA</option>
          	<option value="KS">KS</option>
          	<option value="KY">KY</option>
          	<option value="LA">LA</option>
          	<option value="ME">ME</option>
          	<option value="MD">MD</option>
          	<option value="MA">MA</option>
          	<option value="MI">MI</option>
          	<option value="MN">MN</option>
          	<option value="MS">MS</option>
          	<option value="MO">MO</option>
          	<option value="MT">MT</option>
          	<option value="NE">NE</option>
          	<option value="NV">NV</option>
          	<option value="NH">NH</option>
          	<option value="NJ">NJ</option>
          	<option value="NM">NM</option>
          	<option value="NY">NY</option>
          	<option value="NC">NC</option>
          	<option value="ND">ND</option>
          	<option value="OH">OH</option>
          	<option value="OK">OK</option>
          	<option value="OR">OR</option>
          	<option value="PA">PA</option>
          	<option value="RI">RI</option>
          	<option value="SC">SC</option>
          	<option value="SD">SD</option>
          	<option value="TN">TN</option>
          	<option value="TX">TX</option>
          	<option value="UT">UT</option>
          	<option value="VT">VT</option>
          	<option value="VA">VA</option>
          	<option value="WA">WA</option>
          	<option value="WV">WV</option>
          	<option value="WI">WI</option>
          	<option value="WY">WY</option>
          </select>
        </div>
        <div class="form-group has-danger">
          <input type="password" class="form-control" id="password" placeholder="Password" name=user[password]>
        </div>
        <div class="form-group has-danger">
          <input type="password" id="password_confirmation" class="form-control" placeholder="Confirm Password" name=user[password_confirmation]>
        </div>
          <button type="submit" class="btn btn-secondary-outline">Register</button>
      </form>
    </div>
  </div>
</div>
